.content {
    font-size: 150%;
    background: #fdc073;
    min-height: 80%;
}

.content p, table, form {
    color: #3F4137;
    margin: 0 auto;
    text-align: center;
    border: none;
}

.flash {
    color: #3F4137;
    margin: 0 auto;
    text-align: center;
}

.flash.error {
    border: 1px solid #FF4343;
    background: #FF9C9C;
}