<!DOCTYPE html>

{% extends 'base/header.html' %}
{% block content %}
{{ super() }}
{% include 'base/content.html' %}
<div class="content">
	<p> Fill Matrix. By default, start point is (1, 1), finish - (height, width) </p>
	<form action="{{ url_for('compute', height=height, width=width) }}" method="post">
	<table>
		{%- for i in range(height) -%}
		<tr>
			{%- for j in range(width) -%}
			<td><input type="checkbox" name="{{ i }}_{{ j }}"></td>
			{%- endfor -%}
		</tr>
		{% endfor %}
	</table>
	<p><input type="submit" value="Let's go!"><input type="reset" value="Reset"><p>
	</form>
</div>
{% include 'base/footer.html' %}
{% endblock content %}